<!--<div>
  <main>
    <router-outlet></router-outlet>
    <br/>
    <md-slide-toggle (change)="isDarkTheme = !isDarkTheme" [checked]="isDarkTheme"  color="primary">
      Auto Sync
    </md-slide-toggle>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div>
        
        <div class="input-group">
          
          <input type="text" [(ngModel)]="folder"  class="form-control" id="exampleInputAmount" placeholder="Amount">
        </div>
        
      </div>
      <button type="button" class="btn btn-large btn-block btn-default" (click)="createFolder(folder)" >Create Folder</button>
      
    </div>
    
  </main>
</div>-->




<!--Authenticate-->
<!--<button *ngIf='!authenticated' (click)='authenticate()'>Authenticate with Github</button>-->

<router-outlet></router-outlet>
<div class="col-xs-4 col-xs-pull-left" style="margin-top:15%;position: absolute; margin-left: 40%;">
  <div class="inline">
    <div class="easypiechart" data-percent="20" data-line-width="10" data-track-color="blue" data-bar-color="#28f5fb" data-scale-color="#1cc1fb"
      data-size="188">
      <div>
        <span class="h2 m-l-sm step">2</span>%
        <span>of 2GB</span>
      </div>
    </div>
  </div>
</div>
