<div>
  <!--Authenticate-->
  <!--<button *ngIf='!authenticated' (click)='authenticate()'>Authenticate with Github</button>-->
  <style>
    .glyph {
      font-size: 30px;
    }


  </style>
  <aside class="bg-dark dk nav-xs aside  col-xs-3">

    <section class="vbox" style="margin-top: -80px">
      <h2>
        <i class="glyph glyph-close-pane" aria-hidden="true" id='filenablebtn' (click)='enableFilepanel()' style="cursor:pointer"></i>
        <i class="glyph glyph-close-pane" aria-hidden="true" id='filedisablelebtn' (click)='disableFilepanel()' style="display:none;cursor:pointer"></i>
      </h2>
      <h2>
        <span class="glyph glyph-settings" aria-hidden="true"></span>
      </h2>
      <h2>
        <span class="glyph glyph-close-pane" aria-hidden="true"></span>
      </h2>
      <h2>
        <span class="glyph glyph-add" aria-hidden="true"></span>
      </h2>

    </section>
  </aside>

  <aside id='filePanel' class="nav-xs aside  col-xs-4" style="background-color:lightslategray;display: none">

    <section style='text-align:center'>
      <h2>
        <span class="glyph glyph-settings" aria-hidden="true"></span>
      </h2>
      <h2>
        <span class="glyph glyph-close-pane" aria-hidden="true"></span>
      </h2>
      <h2>
        <span class="glyph glyph-close-pane" aria-hidden="true"></span>
      </h2>
      <h2>
        <span class="glyph glyph-add" aria-hidden="true"></span>
      </h2>
    </section>
  </aside>

</div>
