<div>
  <!--Authenticate-->
  <!--<button *ngIf='!authenticated' (click)='authenticate()'>Authenticate with Github</button>-->
  <aside class="bg-dark dk nav-xs aside  col-xs-1">

    <section class="vbox">
      <h2>
        <i class="fa fa-files-o" id='filenablebtn' (click)='enableFilepanel()' style="cursor:pointer"></i>
        <i class="fa fa-files-o" id='filedisablelebtn' (click)='disableFilepanel()' style="display:none;cursor:pointer"></i>
      </h2>
      <h2>
        <i class="fa fa-search"></i>
      </h2>
      <h2>
        <i class="fa fa-github-square"></i>
      </h2>
      <h2>
        <i class="fa fa-bug"></i>
      </h2>

    </section>
  </aside>

  <aside id='filePanel' class="nav-xs aside  col-xs-4" style="background-color:lightslategray;display: none">

    <section style='text-align:center'>
      <h2>
        <i class="fa fa-files-o"></i>
      </h2>
      <h2>
        <i class="fa fa-search"></i>
      </h2>
      <h2>
        <i class="fa fa-github-square"></i>
      </h2>
      <h2>
        <i class="fa fa-bug"></i>
      </h2>
    </section>
  </aside>

</div>
